[package]
name = "appflowy-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix = "0.13"
actix-web = { version = "4.3.1", features = ["openssl"] }
actix-http = "3.3.1"
actix-rt = "2"
actix-web-actors = { version = "4.2.0" }
actix-service = "2.0.2"
actix-identity = "0.5.2"
actix-cors = "0.6.4"
actix-web-flash-messages = { version = "0.4", features = ["cookies"] }
actix-session = { version = "0.7", features = ["redis-rs-tls-session"] }
openssl = "0.10.45"

# serde
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde-aux = "4.1.2"

tokio = { version = "1.26.0", features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "fs",
    "time",
] }
futures-util = "0.3.26"
async-stream = "0.3.4"
config = { version = "0.13.3", default-features = false, features = ["yaml"] }
once_cell = "1.13.0"
chrono = { version = "0.4.23", features = ["serde", "clock"], default-features = false }
derive_more = { version = "0.99" }
uuid = { version = "1", features = ["v4", "serde"] }
argon2 = { version = "0.5", features = ["std"] }
secrecy = { version = "0.8", features = ["serde"] }
rand = { version = "0.8", features = ["std_rng"] }
anyhow = "1.0.40"
thiserror = "1.0.24"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls", "cookies"] }
unicode-segmentation = "1.0"
lazy_static = "1.4.0"
fancy-regex = "0.11.0"
validator = "0.16.0"
bytes = "1.4.0"
bincode = "1.3.3"
dashmap = "5.4"
rcgen = { version = "0.10.0", features = ["pem", "x509-parser"] }

# tracing
tracing = { version = "0.1.37" }
tracing-subscriber = { version = "0.3.16", features = ["registry", "env-filter", "ansi", "json"] }
tracing-bunyan-formatter = "0.3.6"
tracing-actix-web = "0.7"
tracing-log = "0.1.1"
sqlx = { version = "0.6", default-features = false, features = ["runtime-actix-rustls", "macros", "postgres", "uuid", "chrono", "migrate", "offline"] }

#Local crate
token = { path = "./crates/token" }
snowflake = { path = "./crates/snowflake" }
websocket = { path = "./crates/websocket" }
collab-plugins = { version = "0.1.0", features = ["sync", "disk_rocksdb"] }

[dev-dependencies]
once_cell = "1.7.2"
collab = { version = "0.1.0" }
collab-client-ws = { version = "0.1.0" }
tempfile = "3.4.0"
assert-json-diff = "2.0.2"

[[bin]]
name = "appflowy_server"
path = "src/main.rs"

[lib]
path = "src/lib.rs"

[workspace]
members = [
    "crates/token",
    "crates/snowflake",
    "crates/websocket",
]

[patch.crates-io]
#collab = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "4a12ed"  }
#collab-client-ws = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "4a12ed"  }
#collab-sync= { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "4a12ed" }
#collab-persistence = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "4a12ed" }
#collab-plugins = { git = "https://github.com/AppFlowy-IO/AppFlowy-Collab", rev = "4a12ed" }

collab = { path = "./crates/AppFlowy-Collab/collab" }
collab-client-ws = { path = "./crates/AppFlowy-Collab/collab-client-ws" }
collab-persistence = { path = "./crates/AppFlowy-Collab/collab-persistence" }
collab-sync = { path = "./crates/AppFlowy-Collab/collab-sync" }
collab-plugins = { path = "./crates/AppFlowy-Collab/collab-plugins"}
