version: '3'
services:
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
    ports:
      - "5433:5432"
  redis:
    image: redis:7
    ports:
      - "6380:6379"
  appflowy_server:
    restart: on-failure
    environment:
      - APP_ENVIRONMENT=production
    build:
      context: .
      dockerfile: ./Dockerfile
    image: appflowy_server:${BACKEND_VERSION}
    depends_on:
      - redis
      - postgres
    ports:
      - 8000:8000
