version: '3'
services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
    ports:
      - 5433:5432
    volumes:
      - ./build/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis
    ports:
      - 6380:6379

  gotrue:
    image: supabase/gotrue
    restart: on-failure
    depends_on:
      - postgres
    environment:
      - GOTRUE_SITE_URL=http://localhost:3000
      - GOTRUE_JWT_SECRET=hello123
      - GOTRUE_DB_DRIVER=postgres
      - DATABASE_URL=postgres://supabase_auth_admin:root@postgres:5432/postgres
      - API_EXTERNAL_URL=http://localhost:9998
      - PORT=9999
      - GOTRUE_SMTP_HOST=smtp.gmail.com
      - GOTRUE_SMTP_PORT=465
      - GOTRUE_SMTP_USER=noreply@appflowy.io
      - GOTRUE_SMTP_PASS=
      - GOTRUE_SMTP_ADMIN_EMAIL=noreply@appflowy.io
      - GOTRUE_MAILER_URLPATHS_CONFIRMATION=/verify
      - GOTRUE_MAILER_AUTOCONFIRM=true

    ports:
      - 9998:9999

  appflowy_cloud:
    restart: on-failure
    environment:
      - APP_ENVIRONMENT=production
    build:
      context: .
      dockerfile: ./Dockerfile
    image: appflowy_cloud:${BACKEND_VERSION:-latest}
    depends_on:
      - redis
      - postgres
      - gotrue
    ports:
      - 8000:8000
