version: '3'
services:
  postgres:
    image: postgres:14
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-appflowy}
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
    ports:
      - "5433:5432"
  redis:
    image: redis:7
    ports:
      - "6380:6379"
  appflowy_cloud:
    restart: on-failure
    environment:
      - APP_ENVIRONMENT=production
    build:
      context: .
      dockerfile: ./Dockerfile
    image: appflowy_cloud:${BACKEND_VERSION:-latest}
    depends_on:
      - redis
      - postgres
    ports:
      - 8000:8000
