:root {
  --af-purple: #9327ff;
  --af-dark-purple: #8427e0;
  --af-red: #fb006d;
  --af-dark-red: #e3006d;
  --af-cyan: #00c8ff;
  --af-dark-cyan: #00b5ff;
  --af-yellow: #ffce00;
  --af-dark-yellow: #ffbd00;
  --af-darker-yellow: #f7931e;
}
