#login-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

#login-splash {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#login-signin {
  min-width: 256px;
  max-width: 512px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#oauth-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.oauth-icon {
  margin: 12px;
  width: 48px;
}
