<table style="border-collapse: collapse">
  <tr class="nav-item">
    <td>PgAdmin</td>
    <td>
      <a class="svg-container" href="/pgadmin">
        {% include "../assets/postgres/logo.html" %}
      </a>
    </td>
  </tr>

  <tr class="nav-item">
    <td>Minio</td>
    <td>
      <a class="svg-container" href="/minio">
        {% include "../assets/minio/logo.html" %}
      </a>
    </td>
  </tr>

  <tr class="nav-item">
    <td>Portainer</td>
    <td>
      <a class="svg-container" href="/portainer">
        {% include "../assets/portainer/logo.html" %}
      </a>
    </td>
  </tr>
</table>
