<div class="sidebar"></div>

<div id="sidebar">
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/admin/navigate"
  >
    Navigate
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/admin/users"
  >
    List Users
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/admin/users/create"
  >
    Create User
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/admin/sso"
  >
    List SSO
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/admin/sso/create"
  >
    Create SSO
  </div>
</div>
