<div>
  <h4>Please enter the following information to create new SSO</h4>
  <form hx-post="/web-api/admin/sso" hx-target="#none">
    <table>
      <tr>
        <td>Email</td>
        <td>
          <select name="type" class="input">
            <option value="saml">saml</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Metadata Url</td>
        <td>
          <input
            class="input"
            name="metadata_url"
            placeholder="https://example.com/metadata"
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: right">
          <button class="button cyan" type="submit">Create</button>
        </td>
      </tr>
    </table>
  </form>
</div>
