<div>
  <h3>Password Change</h3>
  <form hx-post="/web-api/change-password" hx-target="#none">
    <table>
      <tr>
        <td>New Password:</td>
        <td>
          <input
            class="input"
            type="password"
            name="new_password"
            placeholder="***"
            required
          />
        </td>
      </tr>
      <tr>
        <td>Confirm Password:</td>
        <td>
          <input
            class="input"
            type="password"
            name="confirm_password"
            placeholder="***"
            required
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: right">
          <button type="submit" class="button cyan">Confirm Change</button>
        </td>
      </tr>
    </table>
  </form>
</div>
