<div id="sidebar">
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/user/navigate"
  >
    Navigate
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/user/change-password"
  >
    Change Password
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/user/invite"
  >
    Invite
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/user/user-usage"
  >
    User Usage
  </div>
  <div
    class="sidebar-item"
    hx-target="#sidebar-content"
    hx-get="/web/components/user/workspace-usage"
  >
    Workspace Usage
  </div>
</div>
