<div>
  <table class="red-table table">
    <thead>
      <tr>
        <th>Workspace Name</th>
        <th>Members</th>
        <th>Members Limit</th>
        <th>Document Storage</th>
        <th>Object Storage</th>
        <th>Object Storage Limit</th>
      </tr>
    </thead>

    {% for workspace_usage in workspace_usages %}
      <tr>
        <td> {{ workspace_usage.name|escape }} </td>
        <td> {{ workspace_usage.member_count|escape }} </td>
        <td> {{ workspace_usage.member_limit|escape }} </td>
        <td> {{ workspace_usage.total_doc_size|escape }} </td>
        <td> {{ workspace_usage.total_blob_size|escape }} </td>
        <td> {{ workspace_usage.total_blob_limit|escape }} </td>
      </tr>
    {% endfor %}

  </table>
</div>
