<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AppFlowy</title>
    <script>
      window.onload = function () {
        window.location = 'appflowy-flutter://';
      };
    </script>
  </head>
  <body>
    <h1>Opening AppFlowy</h1>
    <p>If AppFlowy does not open, you can click <a href="appflowy-flutter://">here</a> to launch the app.</p>
    <p>If AppFlowy is not installed, you can <a href="https://appflowy.io/download">download AppFlowy manually</a>.</p>
  </body>
</html>
