<div>
  <h3>Password Change</h3>
  <table>
    <tr>
      <td>New Password:</td>
      <td>
        <input type="password" id="newPassword" placeholder="***" required />
      </td>
    </tr>
    <tr>
      <td>Confirm Password:</td>
      <td>
        <input
          type="password"
          id="confirmPassword"
          placeholder="***"
          required
        />
      </td>
    </tr>
    <tr>
      <td>
        <button id="confirmPasswordChange">Confirm Change</button>
      </td>
    </tr>
  </table>

  <script>
    document
      .getElementById("confirmPasswordChange")
      .addEventListener("click", function () {
        const newPassword = document.getElementById("newPassword").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;

        fetch("/web-api/change_password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ new_password: newPassword }),
        })
          .then((response) => {
            if (!response.ok) {
              // If HTTP status code is not OK, throw an error with the status text
              throw Error(response.statusText);
            }
            alert("Password changed successfully!");
            // Close the modal
            const modal = document.getElementById("passwordChangeModal");
            modal.style.display = "none";
          })
          .catch((error) => {
            console.error(`Error:, ${error}`);
            document.getElementById(
              "response",
            ).innerText = `Login failed: ${error.message}`;
          });

        if (newPassword === confirmPassword) {
          // Passwords match; you can perform password change logic here
          alert("Password changed successfully!");
        } else {
          alert("Passwords do not match. Please try again.");
        }
      });
  </script>
</div>
