<!doctype html>
<html lang="en">
  <body>
    <div id="content">
      <h1>User Management</h1>
      <p>Welcome, {{ email }}</p>
    </div>

    <div id="menu">
      <button id="adminBtn">Admin</button>
      <button id="logoutBtn">Logout</button>
    </div>
    <br />
    <h2>Change Password</h2>
    <input type="password" id="newPassword" placeholder="New Password" />
    <br />
    <input
      type="password"
      id="confirmPassword"
      placeholder="Confirm Password"
    />
    <br />
    <button id="confirmPasswordChange" class="modal-button">Confirm</button>

    <script>
      document
        .getElementById("logoutBtn")
        .addEventListener("click", function () {
          // Remove the cookie by setting its value to an empty string and its expiry date to the past.
          fetch("/web-api/logout", {
            method: "POST",
            credentials: "same-origin",
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(
                  `Network response was not ok: ${response.statusText}`,
                );
              }
              window.location.href = "/web/login";
            })
            .catch((error) => {
              console.error(
                `There was a problem with the fetch operation: ${error}`,
              );
            });
        });

      document
        .getElementById("adminBtn")
        .addEventListener("click", function () {
          window.location.href = "/web/admin";
        });

      // Handle the password change button
      document
        .getElementById("confirmPasswordChange")
        .addEventListener("click", function () {
          const newPassword = document.getElementById("newPassword").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;

          fetch("/web-api/change_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ new_password: newPassword }),
          })
            .then((response) => {
              if (!response.ok) {
                // If HTTP status code is not OK, throw an error with the status text
                throw Error(response.statusText);
              }
              alert("Password changed successfully!");
              // Close the modal
              const modal = document.getElementById("passwordChangeModal");
              modal.style.display = "none";
            })
            .catch((error) => {
              console.error(`Error:, ${error}`);
              document.getElementById(
                "response",
              ).innerText = `Login failed: ${error.message}`;
            });

          if (newPassword === confirmPassword) {
            // Passwords match; you can perform password change logic here
            alert("Password changed successfully!");
          } else {
            alert("Passwords do not match. Please try again.");
          }
        });
    </script>
  </body>
</html>
