<!doctype html>
<html lang="en">
  <body>
    <h1>Welcome to the Home Page</h1>
    <button id="logoutBtn">Logout</button>
    <button id="adminBtn">Admin</button>
    <script>
      document
        .getElementById("logoutBtn")
        .addEventListener("click", function () {
          // Remove the cookie by setting its value to an empty string and its expiry date to the past.
          document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

          // Redirect to the login page.
          window.location.href = "/web/login";
        });

      document
        .getElementById("adminBtn")
        .addEventListener("click", function () {
          // Redirect to the admin page.
          window.location.href = "/web/admin";
        });
    </script>
  </body>
</html>
