<style>
  .sidebar {
    border-right: 1px solid;
    width: 128px;
    height: 100vh;
  }

  .sidebar table {
    width: 100%;
  }

  .sidebar th {
    color: #fff; /* Text color */
    background-color: #555; /* Button background color */
    padding: 16px 16px; /* Padding to give button-like space */
    text-align: center; /* Centering text */
  }

  .sidebar td {
    background-color: #333; /* Button background color */
    color: #fff; /* Text color */
    padding: 16px 16px; /* Padding to give button-like space */
    text-align: center; /* Centering text */
    cursor: pointer; /* Changing the cursor on hover to indicate clickability */
  }

  .sidebar td:hover {
    background-color: #555; /* Changing color on hover to give feedback */
  }
</style>
