<!doctype html>
<html lang="en">
  <head>
    <link href="/assets/base.css" rel="stylesheet" />
    <link href="/assets/message.css" rel="stylesheet" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "components/message.html" %}

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
