name: ClientAPI Check

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            AppFlowy-Cloud

      - name: Install cargo-tree
        run: cargo install cargo-tree

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build ClientAPI
        working-directory: ./libs/client-api
        run: cargo build --features "enable_brotli"

      - name: Build ClientAPI WASM
        working-directory: ./libs/client-api
        run: wasm-pack build

      - name: Check ClientAPI Dependencies
        working-directory: ./libs/client-api
        run: bash ../../script/client_api_deps_check.sh

