[package]
name = "appflowy-collaborate"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
appflowy-proto.workspace = true
access-control.workspace = true
actix.workspace = true
actix-web-actors = { version = "4.3" }
app-error = { workspace = true, features = [
  "sqlx_error",
  "actix_web_error",
  "tokio_error",
  "bincode_error",
  "appflowy_ai_error",
] }
brotli.workspace = true
dashmap.workspace = true
async-stream.workspace = true
futures.workspace = true
tracing = "0.1.40"
futures-util = "0.3.30"
tokio-util = { version = "0.7", features = ["codec"] }
tokio-stream = { version = "0.1.14", features = ["sync"] }
tokio = { workspace = true, features = [
  "net",
  "sync",
  "macros",
  "rt-multi-thread",
] }
async-trait.workspace = true
prost.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_repr.workspace = true
sqlx = { workspace = true, default-features = false, features = [
  "runtime-tokio-rustls",
  "macros",
  "postgres",
  "uuid",
  "chrono",
] }
thiserror = "1.0.56"
anyhow.workspace = true
bytes.workspace = true
arc-swap.workspace = true

collab = { workspace = true }
collab-entity = { workspace = true }
collab-folder = { workspace = true }
collab-document = { workspace = true }
collab-stream = { workspace = true }
database.workspace = true
database-entity.workspace = true
governor = { version = "0.6.3" }
yrs.workspace = true
chrono = "0.4.31"
collab-rt-entity = { workspace = true, features = ["actix_message"] }
collab-rt-protocol.workspace = true
uuid = { version = "1", features = ["v4"] }
prometheus-client = "0.22.1"
semver = "1.0.22"
redis = { version = "0.29", features = ["uuid", "bytes", "tokio-comp", "aio", "connection-manager"] }
secrecy.workspace = true
lazy_static = "1.4.0"
itertools = "0.12.0"
validator.workspace = true
rayon.workspace = true
zstd.workspace = true
indexer.workspace = true

[dev-dependencies]
rand = "0.8.5"
workspace-template.workspace = true
unicode-normalization = "0.1.24"
